/* font-family: "Light"; */
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"),
  url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "Regular"; */
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
  url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "Medium"; */
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
  url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "SemiBold"; */
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"),
  url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "Bold"; */
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
  url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DinProRegular";
  src: url("../fonts/DinProRegular/DINPro.eot");
  src: url("../fonts/DinProRegular/DINPro.eot?#iefix")format("embedded-opentype"),
  url("../fonts/DinProRegular/DINPro.woff") format("woff"),
  url("../fonts/DinProRegular/DINPro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DinProLight";
  src: url("../fonts/DinProLight/DINPro-Light.eot");
  src: url("../fonts/DinProLight/DINPro-Light.eot?#iefix")format("embedded-opentype"),
  url("../fonts/DinProLight/DINPro-Light.woff") format("woff"),
  url("../fonts/DinProLight/DINPro-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DinProMedium";
  src: url("../fonts/DinProMedium/DINPro-Medium.eot");
  src: url("../fonts/DinProMedium/DINPro-Medium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/DinProMedium/DINPro-Medium.woff") format("woff"),
  url("../fonts/DinProMedium/DINPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DinProBold";
  src: url("../fonts/DinProBold/DINPro-Bold.eot");
  src: url("../fonts/DinProBold/DINPro-Bold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/DinProBold/DINPro-Bold.woff") format("woff"),
  url("../fonts/DinProBold/DINPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}