.footer {
  background-color: transparent;
}

.footer__inner {
  @extend .layout-inner;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p, a {
    color: #333;
  }
  &_accordion {
    display: none;
    width: 100%;
  }
}

.footer_top {
  padding-top: 60px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 40px;
  border-bottom: 1px solid $border-gray;
  .footer_item {
    width: 33.3333%;
    margin-right: 32px;
    &:last-child {
      margin-right: 0;
    }
    .ico_box {
      margin-bottom: 12px;
      display: flex;
      .ico {
        img {
          display: block;
          margin-right: 8px;
          width: 14px;
        }
      }
      .text {
        p, a {
          font-family: $font-family_medium;
          font-size: 14px;
          color: $color-main;
        }
      }
    }
    .bold16 {
      margin-bottom: 24px;
    }
    .links_list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 12px;
        a {
          font-size: 14px;
          font-family: $font-family;
          opacity: 0.9;
          &:hover {
            color: $color-main;
          }
        }
      }
    }
  }
}

.footer_bottom {
  padding: 10px 0;
  .footer__inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .left {
      padding: 20px 0;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      p {
        font-size: 14px;
      }
    }
    .right {
      padding: 20px 0;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.list_first {
  margin-bottom: 40px !important;
}

.social {
  width: auto;
  a {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      transition: all, .2s ease-out;
      opacity: 0.8;
    }
  }
}

.social {
  display: flex;
  align-items: center;
}

.address {
  margin-top: 32px;
  p {
    color: #333 !important;
    font-family: $font-family;
  }
  .light {
    text-align: left;
  }
}

.contacts_list {
  a {
    color: $color-main;
    font-family: $font-family_medium !important;
  }
}