.detail_slider {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e8ed;
    &__slide {
      width: 100%;
      display: flex;
      flex-direction: column;
        &_inner {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
            .left {
              padding-right: 60px;
              padding-top:80px;
              width: 60%;
              margin-right: 40px;
              position: relative;
                .sale {
                  position: absolute;
                  right: 0;
                  top: 30px;
                    p {
                      letter-spacing: -0.04em;
                      font-size: 120px;
                      line-height: 28px;
                      font-family: $font-din_medium;
                      color: rgba(236, 228, 220, 0.55);
                    }
                }
                img {
                  width: 100%;
                  display: block;
                }
            }
          .right {
            .slide_title {
              font-size: 24px;
              line-height: 29px;
              letter-spacing: -0.02em;
              font-family: $font-family_semibold;
              margin-bottom: 20px;
                span {
                  font-family: $font-family;
                }
            }
            .text_16 {
              max-width: 420px;
              margin-bottom: 32px;
            }
          }
        }
    }
}

.charact {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
    &_box {
      margin-right: 60px;
        .little {
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.02em;

          color: #9F9F9F;
        }
        .orange {
          font-size: 24px;
        }
    }
}

.slider_nav {
  width: 100%;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btns {
    display: flex;
    align-items: center;
    .btn_left {
      margin-right: 32px;
    }
    .btn_left, .btn_right {
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .nums {
    .b-slide-number {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.07em;
      font-family: $font-family;
    }
    .p-slide-number {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.07em;
      font-family: $font-family;
    }
    .def {
      font-size: 16px;
      line-height: 24px;
      font-family: $font-family;
    }
    .medium {
      font-size: 16px;
      line-height: 24px;
      font-family: $font-family;
    }
  }
}