.item_info .left {
  .item_image {
    width: 100%;
    display: block;
  }

  .tabs__item {
    display: none;

    &.active {
      display: block;
      color: $color-black;
      text-align: center;
      border-radius: 30px;
      overflow: hidden;
      max-height: 480px;
      img {
        display: block;
      }
    }
  }

  .tabs {
    width: 100%;
  }

  .tabs__buttons {
    margin-top: 40px;
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 100%;
  }

  .tabs__item {
    position: relative;
    img {
      width: 100%;
    }
  }

  .tabs__btn {
    margin: 0 20px;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
    font-family: $font-family;
    transition: 0.3s ease-out;
    width: calc(33.3333% - 22px);
    opacity: 0.7;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 1;
    }
  }

  .tabs__btn_active {
    opacity: 1;
    transition: 0.3s ease-out;
  }

  .tabs__content {
    width: 100%;
  }
}

.simple_tabs {
  .tabs__item {
    display: none;
    &.active {
      display: block;
    }
  }
  .tabs__buttons {
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 1px solid $border-gray;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    .tabs__btn {
      padding: 20px 0;
      margin-right: 60px;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 15px;
      font-family: $font-family_medium;
      cursor: pointer;
      transition: 0.3s ease-out;
      position: relative;
      &:after {
        position: absolute;
        bottom: -1px;
        left: 0;
        content: '';
        background-color: $color-main;
        height: 2px;
        width: 0;
        transition: 0.3s ease-out;
      }
      &:first-child {
        padding-left: 0;
      }
      &:hover {
        color: $color-main;
        transition: 0.3s ease-out;
      }
    }
  }
  .tabs__btn.tabs__btn_active {
    color: $color-main;
    transition: 0.3s ease-out;
    &:after {
      width: 100%;
      transition: 0.3s ease-out;
    }
  }
  .tabs__item {
    width: 100%;
  }
}